.banner{
  width: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('/images/img2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  color: white;
}

.navbar {
  height: 66px !important;
  padding: 0 16px 0 16px !important;
  font-size: 19px;
  font-weight: 600;
  /* line-height: 19px !important; */
}

#searchBars {
  height: 57px !important;
  /* border-radius: 6px !important; */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 17px !important;
  font-weight: 300px !important;
  line-height: 22px !important;
  vertical-align: middle !important;
  padding: 18px 18px 18px 18px !important;
  cursor: text;
  background: rgb(255, 255, 255, 0.9);
  width: 53px;
}

/* .form-control {
  color: red !important;
} */

#searchBtn {
  height: 57px !important;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 300px;
  line-height: 22px;
  vertical-align: middle;
  padding: 18px 18px 18px 18px;
  text-decoration: none;
}

#searchBtn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
}

#map {
  height:400px;
  width:100%;
} 

.form-control {
  color: #1a1a1a;
  border-style: none !important;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.input-group-text {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  width: 53px;
  vertical-align: middle !important;
  background: rgb(255, 255, 255, 0.9) !important;
  border-style: none !important;
}

